@import "tailwindcss";

@theme {
  --color-primary: oklch(0.623 0.214 259.815);
  --color-primary-hover: oklch(0.707 0.165 254.624);

  --font-primary: "Poppins", serif;

  --animate-rotate: rotate 1s linear;

  @keyframes rotate {
    0% {
      @apply rotate-0;
    }
    100% {
      @apply rotate-180;
    }
  }
}

@layer base {
  body {
    @apply font-primary text-sm;
  }
}

@utility scrollbar {
  &::-webkit-scrollbar {
    @apply w-2.5;
  }

  &::-webkit-scrollbar-track {
    @apply rounded-md bg-blue-200;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-md;
  }
}
