@import "tailwindcss";

@theme {
  --color-primary: oklch(0.623 0.214 259.815);
  --color-primary-hover: oklch(0.707 0.165 254.624);

  --animate-rotate: rotate 1s linear;

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
}

@layer base {
  body {
    font-family: "Poppins", serif;
    font-size: var(--text-sm);
  }
}
